$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

// ------ VARIABLES ------

$light-gray : #B7B9BC;
$navy : #434951;
$dark-blue : #232A3B;
$blue : #AEDEE4;
$green : #C9E298;
$btn-green : #79B600;
$pink : #FDD7F5;

// ------ BASICS ------

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $navy;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; //base for ems
}

.helper { // -- used for getting pure CSS vertical align
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.btn-default { //override BS button styling
  @include button-variant(#FFFFFF, $btn-green, #FFFFFF);
}

.btn {
  border-radius: .2em;
  border: none;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1.6px;
}

// ------ HEADER ------

header {
  height: 5em;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100; //ensure header is always above everything

  // ------ Gradient ------
  background: -moz-linear-gradient(top,  rgba(0,17,30,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,17,30,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,17,30,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,17,30,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,17,30,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,17,30,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a600111e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  .cat-logo {
    display: inline;
    vertical-align: middle;
    margin-left: 1.125em;
    float: left;
  }

  .nav-menu-container {
    display: inline-block;
    float: right;
    vertical-align: middle;

    .nav-menu-text {
      vertical-align: middle;
      margin-right: .625em;
      height: 100%;
      right: 7.5em;
      font-size: 1.1em;
      color: #FFFFFF;
      letter-spacing: 2.6px;
    }

    .hamburger-btn {
      margin-right: 1.8em;
      display: inline-block;
      vertical-align: middle;
      right: 1.25em;
      width: 1.625em;
      height: 1.625em;
    }
  }
}

.nav-hover-active {
  border: 1px solid red;
}

// ------ BANNER ------

#banner {

  .banner-pic {
    background-image: url(../../images/kitty_banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 43.75em;
  }

  .banner-contents {
    position: relative;
    height: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    text-align: center;
  }

  .lead {
    display: block;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2em;
  }

  .btn {
    min-height: 3.125em;
    margin: 0px auto;
  }
}

// ------ BLOG POSTS ------

#blog-posts {
  margin-top: 3em;
}

.blog-post-container {
  border: 1px solid $light-gray;
  border-top: 6px solid $light-gray; //default is gray
  min-height: 20em;
  max-height: 20em;
  padding: .625em 1.25em;
  margin-top: 1em;
}

//add these to .blog-post-container to specify border top colors
.primary {
  border-top: 6px solid $green;
}

.secondary {
  border-top: 6px solid $blue;
}

.tertiary {
  border-top: 6px solid $pink;
}

//the container for the Backbone view (actual blog post contents)
.blog-post-contents {

}

.post-date {
  display: inline-block;
  color: $light-gray;
  font-size: .75em;
  margin-top: 1.8em;
}

.post-title {
  display: inline-block;
  font-size: 1.45em;
  line-height: 1.6;
  margin-bottom: 1.125em;
  max-height: 8em;
  overflow: hidden; //prevents a long title from overlapping box
}

.post-expand {
  display: inline-block;
  position: absolute;
  font-size: .875em;
  letter-spacing: 1.6px;
  color: $light-gray;
  bottom: 1.8em;
  // -- create spaced underline
  border-bottom: 1px solid $light-gray;
  padding-bottom: 5px;
}

// ------ FEATURES OVERVIEW ------

#features-overview {
  margin-top: 5em;

  .row {
    margin-bottom: 3.125em;
  }

  img {
    display: inline-block;
    margin-bottom: 1.25em;
  }

  .text-container {

  }

  .pic-right {
    float: right;
    margin-left: 3.125em;
    margin-right: 7.5em;
  }

  .pic-left {
    float: left;
    margin-right: 3.125em;
    margin-left: 7.5em;
  }

  h2 {
    font-size: 1.25em;
    font-weight: lighter;
    letter-spacing: 2.3px;
    margin-bottom: 1.375em;
  }

  p {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.6;
  }
}



// ------ FOOTER ------

footer {
  margin-top: 6.25em;
  padding-top: 3.75em;
  padding-bottom: 5em;
  min-height: 18.75em;
  background-color: $dark-blue;

  span {
    color: #FFFFFF;
    font-size: .82em;
    letter-spacing: 1.3px;
    font-weight: lighter;
  }

  .links-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5em;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: .82em;
    font-weight: lighter;
    width: 100%;
  }

  form {
    margin-top: 1.25em;
  }

  .form-control {
    margin-bottom: .875em;
    min-width: 16.25em;
    min-height: 2.875em;
    border-radius: 0;
  }

  .btn {
    min-width: 11.875em;
    min-height: 2.875em;
  }
}



// ------ MEDIA QUERIES ------

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    font-size: 12px; //scale down ems by 25%
  }

  header {

    .cat-logo {
      margin-left: .75em;
    }

    .nav-menu-text {
      display: none;
    }

    .hamburger-btn {
      margin-right: .5em;
    }
  }

  #banner {

    .banner-pic {
      background-size: cover;
      min-height: 24em;
    }

    .lead {
      margin-top: 5em;
      margin-bottom: .2em;
    }

    .btn {
      min-height: 1.5em;
      font-size: 1em;
      letter-spacing: 1px;
    }
  }

  #blog-posts {

  }

  #features-overview {

    .pic-right {
      margin: 0;
      float: none;
    }

    .pic-left {
      margin: 0;
      float: none;
    }
  }

  footer {
    margin-top: 0;
    padding-top: 0;

    .col-md-6 {
      padding: 0 3em;
    }

    .container {
      padding: 0;
    }

    .links-title-container {
      border-bottom: 1px solid $light-gray;
    }

    .links-title {
      padding: 1em 0;
      margin: 0;
      font-size: 1.5em;
      text-align: center;
    }

    ul {
      display: none;
    }

    .col-md-6 {
      span {
        display: block;
        margin-top: 2em;
        font-size: 1.12em;
        letter-spacing: 1.5px;
        text-align: center;
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  header {

  }

  #banner {

  }

  #blog-posts {

  }

  #features-overview {

  }

  footer {

  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  header {

  }

  #banner {

  }

  #blog-posts {

  }

  #features-overview {

  }

  footer {

  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}